{% extends "base.html" %}

{% block content %}

  <h1>Welcome User</h1>

<div class="navbar-brand" >

  <button type="button" class="primary-neumorph" data-toggle="collapse" >
   <a class="navbar-brand" href="accounts/sign-up">Zgłoś Problem</a>
  </button>

    <button type="button" class="primary-neumorph" data-toggle="collapse" >
   <a class="navbar-brand" href="accounts/sign-up">Zgłoszenia (lista)</a>
  </button>

    <button type="button" class="primary-neumorph" data-toggle="collapse" >
   <a class="navbar-brand" href="accounts/sign-up">????</a>
  </button>
  </div>

{% endblock %}